[
    {
        "scope": "https://sprintr.home-accp.mendix.com:443",
        "method": "POST",
        "path": "/ws/ProjectsAPI/9/soap1",
        "body": "<soapenv:Envelope xmlns:soapenv=\"http://schemas.xmlsoap.org/soap/envelope/\" xmlns:exam=\"http://www.mendix.com/\">\r\n   <soapenv:Header/>\r\n   <soapenv:Body>\r\n      <exam:CreateNewApp>\r\n         <ProjectName>mySdkProject</ProjectName>\r\n         \r\n         <ProjectSummary>non-empty summary</ProjectSummary>\r\n         \r\n         <User>jos.huiting@mendix.com</User>\r\n         <ApiKey>cdf89bd1-4fcf-409a-b70e-ec5a26a19f7f</ApiKey>\r\n      </exam:CreateNewApp>\r\n   </soapenv:Body>\r\n</soapenv:Envelope>\r\n",
        "status": 200,
        "response": "<?xml version=\"1.0\" ?><soap:Envelope xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xmlns:soap=\"http://schemas.xmlsoap.org/soap/envelope/\" xmlns:tns=\"http://www.mendix.com/\"><soap:Body><tns:CreateNewAppResponse><Result><![CDATA[0d5bbda9-b7aa-459b-b1e5-66e95a6246e0]]></Result></tns:CreateNewAppResponse></soap:Body></soap:Envelope>",
        "rawHeaders": [
            "Content-Type",
            "text/xml;charset=UTF-8"
        ]
    },
    {
        "scope": "https://sprintr.home-accp.mendix.com:443",
        "method": "POST",
        "path": "/ws/ProjectsAPI/9/soap1",
        "body": "<soapenv:Envelope xmlns:soapenv=\"http://schemas.xmlsoap.org/soap/envelope/\" xmlns:men=\"http://www.mendix.com/\">\r\n   <soapenv:Header/>\r\n   <soapenv:Body>\r\n      <men:RetrieveJobStatus>\r\n         <JobId>0d5bbda9-b7aa-459b-b1e5-66e95a6246e0</JobId>\r\n      </men:RetrieveJobStatus>\r\n   </soapenv:Body>\r\n</soapenv:Envelope>\r\n",
        "status": 200,
        "response": "<?xml version=\"1.0\" ?><soap:Envelope xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xmlns:soap=\"http://schemas.xmlsoap.org/soap/envelope/\" xmlns:tns=\"http://www.mendix.com/\"><soap:Body><tns:RetrieveJobStatusResponse><JobStatus><JobId><![CDATA[0d5bbda9-b7aa-459b-b1e5-66e95a6246e0]]></JobId><StartTime>2017-04-07T10:28:09.292Z</StartTime><EndTime xsi:nil=\"true\"></EndTime><State><![CDATA[Running]]></State><Result xsi:nil=\"true\"></Result><ErrorMessage xsi:nil=\"true\"></ErrorMessage></JobStatus></tns:RetrieveJobStatusResponse></soap:Body></soap:Envelope>",
        "rawHeaders": [
            "Content-Type",
            "text/xml;charset=UTF-8"
        ]
    },
[...]
    {
        "scope": "https://sprintr.home-accp.mendix.com:443",
        "method": "POST",
        "path": "/ws/ProjectsAPI/9/soap1",
        "body": "<soapenv:Envelope xmlns:soapenv=\"http://schemas.xmlsoap.org/soap/envelope/\" xmlns:exam=\"http://www.mendix.com/\">\r\n   <soapenv:Header/>\r\n   <soapenv:Body>\r\n      <exam:CreateNewApp>\r\n         <ProjectName>This is a really long name that no one will actually do this at all 123456!!</ProjectName>\r\n         \r\n         <ProjectSummary xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xsi:nil=\"true\"/>\r\n         \r\n         <User>jos.huiting@mendix.com</User>\r\n         <ApiKey>cdf89bd1-4fcf-409a-b70e-ec5a26a19f7f</ApiKey>\r\n      </exam:CreateNewApp>\r\n   </soapenv:Body>\r\n</soapenv:Envelope>\r\n",
        "status": 500,
        "response": "<?xml version=\"1.0\" encoding=\"utf-8\"?><soap:Envelope\n  xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\"\n  xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\"\n  xmlns:soap=\"http://schemas.xmlsoap.org/soap/envelope/\"><soap:Body><soap:Fault><faultcode>Client</faultcode><faultstring>Only use letters, digits, dashes, underscores and spaces.</faultstring></soap:Fault></soap:Body></soap:Envelope>",
        "rawHeaders": [
            "Content-Type",
            "text/xml;charset=UTF-8"
        ]
    },
[...]
